@media only screen and (max-width: 980px) {
    .tagline__text {
    font-size: 25px;      
    }
    .tagline__link {
     font-size: 30px;   
    }
    .banner__item1 {
        font-size: 45px;
    }
    .banner__item2 div{
        font-size: 35px;
    }
}

@media only screen and (max-width: 720px) {
    .tagline__text {
    font-size: 20px;      
    }
    .tagline__link {
        
    }
}

@media only screen and (max-width: 640px) {
    .tagline__text{
      font-size: 15px;    
    }
    .tagline__link {
    font-size: 15px;  
    }
    
    
    .menu{
        display: none;
    }
    nav
    {        
        display: flex;
        color: #ebebeb;   
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
   .logo{
       padding-left: 7%;
       font-size: 20px;
    }
    .miniMenu {
        background-color: black;
        font-size: 25px;
        padding: 20px 25px;
    }
    
    .picContainer {
        flex-flow: column wrap;
        width: 100%;
    }
    .picContainer__link {
        padding-top: 35%;
        padding-bottom: 35%;
    }
    .banner__item1 {
        font-size: 35px;
    }
    .banner__item2 div{
        font-size: 25px;
    }
}

@media screen and (max-width: 460px)  {
    .tagline__text,.tagline__link {
        font-size: 10px;  
    }
    .banner__item1{
        font-size: 21px;   
    }
    .banner__item2 div{   
        font-size: 15px;      
    }
    
}
