header{
     background-color: #373c3f;    
}
    
.menu {
   list-style-type: none;
    background-color: #373c3f;
    color: white;
    margin: 0;
}

.menu li {
    display: inline-block;
    padding: 20px 7px;
}

nav
{
    display: none;
}